﻿body {
    background: #726b60;
}
.vierpm {
    background-image: url(asdf.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    width: 200px;
    position: relative;
    margin: 0 auto;
    display: block;
}
.background {
    background-image: url(https://i2.wp.com/heerlijkemuziek.nl/wp-content/uploads/2016/07/night-vintage-music-bokeh.jpg?resize=1400%2C1000);
    opacity: 0.25;
    background-size: cover;
    bottom: 0;
    height: 100%;
    left: 5%;
    opacity: 0.5;
    position: absolute;
    width: 90%;
}

.title {
    text-align: center;
    position: relative;
    font-size: 25.6px;
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: Karla, Arial, sans-serif;
    border: 2px solid #fcfbf9;
    color: #fcfbf9;
    display: block;
    max-width: 35%;
    text-transform: uppercase;
    margin: 0 auto;
    top: 10px;
}

form {
    position: relative;
    display: block;
    margin-top: 0em;
    background: #fcfbf9;
    border: 4px solid #83b6cc;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    padding: 20px;
    text-shadow: none;
    font-family: Arial;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #726b60;
}

input, textarea {
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
}

input[type='submit'] {
    background-color: #83b6cc;
    border: 2px solid transparent;
    border-radius: 2em;
    color: #eff6f9;
    display: inline-block;
    font-family: Karla, Arial, sans-serif;
    font-size: 15.2px;
    font-size: 0.95rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    padding: 1em 3em;
    text-shadow: none;
    text-transform: uppercase;
    transition: background-color 0.125s ease-in;
}

input[type='submit']:hover {
    background-color: white;
    border: 2px solid #83b6cc;
    color: #83b6cc;
}
@media only screen and (max-width: 1200px) and (min-width: 501px) {
    .title {
        max-width: 45%;
    }
}

    @media only screen and (max-width: 500px) {
        .title {
            font-size: 20px;
            max-width: 40%;
        }

        .background {
            width: 100%;
            left: 0%;
        }

        form {
            max-width: 100%;
            position: relative;
            background: #fcfbf9;
            border: 4px solid #83b6cc;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
            text-shadow: none;
            font-family: Lora, Georgia, serif;
            font-size: 12px;
            font-size: 1.0rem;
            line-height: 1.5;
            color: #726b60;
        }

        input[type='submit'] {
            background-color: #83b6cc;
            border: 2px solid transparent;
            border-radius: 2em;
            color: #eff6f9;
            display: inline-block;
            font-family: Karla, Arial, sans-serif;
            font-size: 0.65rem;
            font-weight: bold;
            letter-spacing: 1px;
            padding: 1em 3em;
            text-shadow: none;
            text-transform: uppercase;
            transition: background-color 0.125s ease-in;
        }
    }
