html {
	width: 92%;
}

body {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

section {
	width: 100%;
}

#POSITIE {
	margin-top: 800px;
}

text1 {
	position: relative;
	float: left;
	width: 25%;
	text-align: center;
}

p {
	font-size: 175%;
}

.bandnamen {
	position: relative;
}

.naam1, .naam2, .naam3, .naam4 {
	width: 70%;
	height: 20px;
	position: relative;
	display: inline-block;
	text-align: center;
}


.bandtext {
	position: relative;
	margin-bottom:20px;
	margin-left: -10px;
	min-height:230px;
}

.bandlid {
	position: relative;
	border-radius: 10rem;
	width: 40%;
	height: auto;
	margin: 4%;
	margin-left: 9%;
}

.bandlidtekst_container1 {
	width: 25%;
	float: left;
	text-align: center;
}
.bandlidtekst_container2 {
	width: 25%;
	float: left;
	text-align: center;
}
.bandlidtekst_container3 {
	width: 25%;
	float: left;
	text-align: center;
}
.bandlidtekst_container4 {
	width: 25%;
	float: left;
	text-align: center;
}


.bandledentekst {
 position: relative;
 margin-bottom:20px;

 min-height:230px;
}

.bandleden {
 position: relative;
 margin-bottom:20px;
 min-height:230px;
margin-left: auto;
margin-right: auto;
 width: 90%;
}
.bandlid_container1 {
	width: 25%;
	float: left;
	text-align: center;
}
.bandlid_container2 {
	width: 25%;
	float: left;
	text-align: center;
}
.bandlid_container3 {
	width: 25%;
	float: left;
	text-align: center;
}
.bandlid_container4 {
	width: 25%;
	float: left;
	text-align: center;
}
.bandlid_naam {
	color: #83b6cc;
	font-size: 140%;
	text-shadow: 0px 0px 10px #000000;
}
.bandlidtekst_naam {
	color: white;
	font-size: 140%;
	text-align: center;
	width: 250%;
	margin-left: 75%;
}



.background {
    background-image: url(https://i2.wp.com/heerlijkemuziek.nl/wp-content/uploads/2016/07/achtergrond-band.png?resize=1400%2C1000);
     background-size: cover;
     bottom: 0;
     height: 100%;
     left: 5%;
     position: absolute;
     width: 90%;
	 opacity: 0.75;
}
.title {
    text-align: center;
    position: relative;
    font-size: 25.6px;
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: Karla, Arial, sans-serif;
    border: 2px solid #fcfbf9;
    color: #fcfbf9;
    display: block;
    max-width: 50%;
    text-transform: uppercase;
    margin: 0 auto;
    top: 10px;

}

.textwrapper {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-shadow: 0px 0px 10px #000000;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 100%;
	color: #FFFFFF;
	opacity: 1;
}


@media screen and (min-width: 1200px) {
.title {
	width: 20%;
    text-align: center;
    position: relative;
    font-size: 25.6px;
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: Karla, Arial, sans-serif;
    border: 2px solid #fcfbf9;
    color: #fcfbf9;
    display: block;
    max-width: 50%;
    text-transform: uppercase;
    margin: 0 auto;
}

}

@media screen and (max-width: 500px) {
	
	.bandlid {
	width: 80%;
	height: auto;
	}

	.bandlid_container1 {
	width: 50%;
	float: left;
	text-align: center;
	padding: 25%;
}
.bandlid_container2 {
	width: 50%;
	float: left;
	text-align: center;
	padding: 25%;
}
.bandlid_container3 {
	width: 50%;
	float: left;
	text-align: center;
	padding: 25%;
}
.bandlid_container4 {
	width: 50%;
	float: left;
	text-align: center;
	padding: 25%;
	position: absolute;
	margin-top: 1500px;
}

.bandlidtekst_naam {
	color: white;
	font-size: 140%;
	text-align: center;
	width: 600%;
	margin-left: -80%;
}

	.textwrapper {
	font-family: "Times New Roman", Times, serif;
	text-shadow: 0px 0px 10px #000000;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	color: #FFFFFF;
	opacity: 1;
	}

    .title {
        font-size: 20px;
    }

    .background {
        width: 100%;
        left: 0%;
    }

    .background {
        background-image: url(https://i2.wp.com/heerlijkemuziek.nl/wp-content/uploads/2016/07/achtergrond-band.png?resize=1400%2C1000);
        bottom: 0%;
        height: 100%;
        left: 0%;
        position: absolute;
        width: 100%;
		opacity: 0.75;
		margin: 0px;
		padding 0px;
    }

    .title {
		width: 30%;
        text-align: center;
        position: relative;
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: Karla, Arial, sans-serif;
        border: 2px solid #fcfbf9;
        display: block;
        text-transform: uppercase;
        margin: 0 auto;
        margin-bottom: 1%;
    }

    .content {
        margin: 0 0 1.5em;
        display: block;
        margin: 1em auto;
        max-width: 900px;
        text-align: left;
        color: white;
    }
	p {
		font-size: 175%;
	}
}
@media screen and (max-width: 800px) {

	.bandlid_container1 { /* carla */
	width: 50%;
	float: left;
	text-align: center;
}
.bandlid_container2 { /* mark */
	width: 50%;
	float: left;
	text-align: center;
}
.bandlid_container3 { /* vincent */
	width: 50%;
	float: left;
	text-align: center;
}
.bandlid_container4 { /* wim */
	width: 50%;
	float: left;
	text-align: center;
	position: absolute;
	top: 825px;
}

	.textwrapper {
	font-family: "Times New Roman", Times, serif;
	text-shadow: 0px 0px 10px #000000;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	color: #FFFFFF;
	opacity: 1;
	}

    .title {
        font-size: 20px;
    }

    .background {
        width: 100%;
        left: 0%;
    }

    .background {
        background-image: url(https://i2.wp.com/heerlijkemuziek.nl/wp-content/uploads/2016/07/achtergrond-band.png?resize=1400%2C1000);
        bottom: 0%;
        height: 100%;
        position: absolute;
        width: 100%;
		opacity: 0.75;
    }

    .title {
		width: 60%;
        text-align: center;
        position: relative;
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: Karla, Arial, sans-serif;
        border: 2px solid #fcfbf9;
        display: block;
        text-transform: uppercase;
        margin: 0 auto;
        margin-bottom: 1%;
    }

    .content {
        margin: 0 0 1.5em;
        display: block;
        margin: 1em auto;
        max-width: 700px;
        text-align: left;
        color: white;
        left: 15%;
        position: relative;
    }

	p {
		font-size: 150%;
	}
}
