@media screen and (min-width: 1200px) {
	
	html {
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
	}

	body {
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
	}

	.specialtext {
		font-size: 150%;
		color: white;
	}
	
	.myButton {
color: rgb(255, 255, 255); font-size: 16px; line-height: 16px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
.myButton:hover {
background: #1C6EA4; }
.myButton:active {
background: #144E75; }

	.sfooter {
		position: absolute;
		width: 99.792%;
		height: 21vw;
		background: rgb(80, 80, 80);
		margin-left: 0px;
		border: 2px solid #2C2C2C;
	}
	
	.onderkant_facebook {
		text-decoration: none;
		border: 2px solid rgb(232, 212, 149);
		border-radius: 50%;
		width: 35px;
		height: 35px;
		color: rgb(232, 212, 149);
		text-align: center;
		font-size: 29px;
		margin: 20px;
	}
	.onderkant_facebook:hover {
		text-decoration: none;
		border: 2px solid rgba(232, 212, 149, 0.0);
		border-radius: 50%;
		width: 35px;
		height: 35px;
		color: rgb(80, 80, 80);
		background: rgb(232, 212, 149);
		text-align: center;
	}

	.padding {
		margin-left: 2%;
		margin-right: 4%;
		margin-top: -5%;
	}

	.over {
		color: #83b6cc;
		font-size: 140%;
		text-shadow: 0px 0px 10px #000000;
		font-family: Verdana, Geneva, sans-serif;
		margin-top: -10px;
	}

	.eenderde {
		float: left;
		width: 33.05%;
		height: 11vw;
		margin-top: -15px;
		padding-top: 5%;
		overflow: hidden;
	}

	.tweederde {
		float: left;
		width: 33.05%;
		height: 11vw;
		margin-top: -15px;
		padding-top: 5%;
		overflow: hidden;
	}

	.driederde {
		float: left;
		width: 33.05%;
		height: 11vw;
		margin-top: -15px;
		padding-top: 5%;
		overflow: hidden;
	}

	.vierderde {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 0.01vw;
		margin-top: 0px;
		padding-top: 5%;
		overflow: hidden;
	}

	.lekker {
		color: white;
	}

	.copy {
		float: right;
		padding-left: 5%;
		padding-top: 3.5%;
		padding-right: 5%;
		margin-top: -100px;
		color: white;
	}
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 500px) {
}