.achtergrond{
	background-image:url(https://i0.wp.com/heerlijkemuziek.nl/wp-content/uploads/2016/07/intro.jpg?resize=1400%2C933);
	background-repeat: no-repeat;
	background-size: 100%;
}
.zichtbaarheid{
	border: 1px solid black;
	background-color: black;
	opacity: 0.8;
	color: white;
}
.vierpm{
	background-image: url("asdf.png");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100px;
	width: 200px;
	/*border: 10px solid white;*/
	position: relative;
	left: 40%;
}
h1, h2, h3, h4, h5, h6{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 200px;
	margin-right: 200px;
}
.button1{
	width: 10%;
	height: 5%;
	border: 10px solid black;
	border-radius: 50px;
	background-color: blue;
	color: white;
	font-size: 20px;
	padding: 20px;
	position: relative;
	/*left: 300px;*/
	left: 30%;
}
.button2{
	width: 10%;
	height: 5%;
	border: 10px solid black;
	border-radius: 50px;
	background-color: white;
	color: black;
	font-size: 20px;
	padding: 20px;
	position: relative;
	/*left: 300px;*/
	left: 30%;
}
a:hover, a:active {
    background-color: gray;
	opacity: 0.5;
}
.bluetxt{
	color: blue;
}
/*.enq{
	width: 80%;
	height: 800px;
	border: 5px solid blue;
	background: gray;
}*/
.achtergrond1{
	background-image:url(https://i0.wp.com/heerlijkemuziek.nl/wp-content/uploads/2016/07/intro.jpg?resize=1400%2C933);
	background-size: 20%;
}
/*adt=anti-dislexi-txt*/
.adt{
	font-size: 30px;
}
fieldset{
	
}
#telefoon{
	position: relative;
	left: 50%;
}
#email{
	position: relative;
	left: 50%;
}
#verzendingsknopje{
	position: relative;
	left: 70%;
}
.achtergrond2{
	background-image:url(https://i2.wp.com/heerlijkemuziek.nl/wp-content/uploads/2016/07/night-vintage-music-bokeh.jpg?resize=1400%2C1000);
	background-repeat: no-repeat;
	background-size: 100%;
}
.audiotitle{
	/*border: 1px solid black;*/
	background-color: black;
	width: 200px;
	/*height: 50px;*/
	opacity: 0.8;
	/*color: white;
	position: relative;
	left: 25%;*/
	margin: auto;
}
.bluetxtaudio{
	color: blue;
	font-size: 30px;
}
#do{
	position: absolute;
	left: 5%;
}
#emv{
	position: absolute;
	left: 55%;
	/*top: 100px;*/
}
#idwid{
	position: absolute;
	left: 5%;
	bottom: -300px;
}
#tjmlv{
	position: absolute;
	left: 55%;
	bottom: -300px;
}
audio{
	width: 450px;
}
#txt1{
	font-size: 16px;
}
/*bdnm = body doe normaal man*/
/*#bdnm{
	margin: auto;
}*/
/*legend{
	color: white;
	
}*/
#audiologofix{
	width: 200px;
	height: 100px;
}