body {
	overflow-x: hidden;
}
ul {
    display: inline-block;
}

li {
	display: block;
	float: left;
	margin: 3.5px;
}

#navwrapper {
	height: 100%;
	width: 100%;
    position: relative;
    top: 0px;
    text-align: center;
	color: rgb(255, 255, 255); /* replace FFF */
	font-weight: 700;
	font-family: Tahoma, Geneva, sans-serif;
}

#zero {
	color: #FFF;
}
#one {
	color: #FFF;
}
#two {
	color: #FFF;
}
#three {
	color: #FFF;
}
#four {
	color: #FFF;
}
#five {
	color: #FFF;
}
#six {
	color: #FFF;
}
#seven {
	color: #FFF;
}

#zero:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#one:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#two:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#three:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#four:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#five:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#six:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#seven:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}

@media screen and (max-width:1000px) {

	body {
	overflow-x: hidden;
}
ul {
    display: inline-block;
}

li {
	display: block;
	float: left;
	margin: 3.5px;
}

#navwrapper {
	height: 100%;
	width: 100%;
    position: relative;
    top: 0px;
    text-align: center;
	color: rgb(255, 255, 255); /* replace FFF */
	font-size: 0.8rem;
	font-weight: 700;
	font-family: Tahoma, Geneva, sans-serif;
}

#zero {
	color: #FFF;
}
#one {
	color: #FFF;
}
#two {
	color: #FFF;
}
#three {
	color: #FFF;
}
#four {
	color: #FFF;
}
#five {
	color: #FFF;
}
#six {
	color: #FFF;
}
#seven {
	color: #FFF;
}

#zero:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#one:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#two:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#three:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#four:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#five:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#six:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#seven:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}

}

@media screen and (max-width:625px) {
	
	body {
	overflow-x: hidden;
}
ul {
    display: inline-block;
}

li {
	display: block;
	float: left;
	margin: 3.5px;
}

#navwrapper {
	height: 100%;
	width: 100%;
    position: relative;
    top: 0px;
    text-align: center;
	color: rgb(255, 255, 255); /* replace FFF */
	font-size: 0.6rem;
	font-weight: 700;
	font-family: Tahoma, Geneva, sans-serif;
}

#zero {
	color: #FFF;
}
#one {
	color: #FFF;
}
#two {
	color: #FFF;
}
#three {
	color: #FFF;
}
#four {
	color: #FFF;
}
#five {
	color: #FFF;
}
#six {
	color: #FFF;
}
#seven {
	color: #FFF;
}

#zero:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#one:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#two:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#three:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#four:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#five:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#six:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}
#seven:hover {
	color: rgb(188, 211, 213); /* replace FFF */
}

}