﻿body {
    background: #726b60;
    font-family: Lora, Georgia, serif;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.5;

}
.vierpm {
    background-image: url(asdf.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    width: 200px;
    position: relative;
    margin: 0 auto;
    display: block;
}
.background {
    background-image: url(https://i2.wp.com/heerlijkemuziek.nl/wp-content/uploads/2016/07/bladmuziek.jpg?resize=1400%2C1000);
     opacity: 0.25;
     background-size: cover;
     bottom: 0;
     height: 100%;
     left: 5%;
     opacity: 0.5;
     position: absolute;
     width: 90%;
}
.title {
    text-align: center;
    position: relative;
    font-size: 25.6px;
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: Karla, Arial, sans-serif;
    border: 2px solid #fcfbf9;
    color: #fcfbf9;
    display: block;
    max-width: 25%;
    text-transform: uppercase;
    margin: 0 auto;
    top: 10px;
}
.video {
    margin-bottom: 1.6em;
    width: 100%;
    display: block;
}
.content {
    margin: 0 0 1.5em;
    display: block;
	position: relative;
    margin: 1em auto;
    max-width: 50%;
    text-align: left;
    color: white;
	
}
video {
    width: 100%;
    height: 100%;
    
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 20px;
    }

    .background {
        width: 100%;
        left: 0%;
    }

    .background {
        background-image: url(https://i2.wp.com/heerlijkemuziek.nl/wp-content/uploads/2016/07/bladmuziek.jpg?resize=1400%2C1000);
        opacity: 0.25;
        bottom: 0%;
        height: 100%;
        left: 0%;
        position: absolute;
        width: 100%;
    }

    .title {
        text-align: center;
        position: relative;
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: Karla, Arial, sans-serif;
        border: 2px solid #fcfbf9;
        border-bottom: 0;
        display: block;
        width: 75%;
        padding: 0.75rem 1.5rem 0.85rem;
        text-transform: uppercase;
        margin: 0 auto;
        margin-bottom: 1%;
    }

    .video {
        margin-bottom: 1.6em;
        width: 100%;
    }

    video {
        width: 100%;
        height: 100%;
    }

    .content {
        margin: 0 0 1.5em;
        display: block;
        margin: 1em auto;
        max-width: 900px;
        text-align: left;
        color: white;
    }

    p {
        font-size: 0.7em;
    }
}
@media only screen and (max-width: 800px) {
    .title {
        font-size: 20px;
    }

    .background {
        width: 100%;
        left: 0%;
    }

    .background {
        background-image: url(https://i2.wp.com/heerlijkemuziek.nl/wp-content/uploads/2016/07/bladmuziek.jpg?resize=1400%2C1000);
        opacity: 0.25;
        bottom: 0%;
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .title {
        text-align: center;
        position: relative;
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: Karla, Arial, sans-serif;
        border: 2px solid #fcfbf9;
        border-bottom: 0;
        display: block;
        width: 75%;
        padding: 0.75rem 1.5rem 0.85rem;
        text-transform: uppercase;
        margin: 0 auto;
        margin-bottom: 1%;

    }

    .video {
        margin-bottom: 1.6em;
        width: 80%;
    }

    video {
        width: 100%;
        height: 100%;
    }

    .content {
        margin: 0 0 1.5em;
        display: block;
        margin: 1em auto;
        max-width: 700px;
        text-align: left;
        color: white;
        position: relative;
        left: 5%;
    }

    p {
        font-size: 0.8em;
    }
}
