@media only screen and (max-width: 1040px){
	audio{
		width: 400px;
	}
}

/* max 900px (tablets) */
@media only screen and (max-width: 900px){
	body{
		max-width: 900px;
		background-color: red;
	}
	audio{
		width: 80%;
	}
	#txt1{
		font-size: 50%;
	}	
	.audiotitle{
		position: relative;
		left: 0%;
	}
	/*#do{
		position: absolute;
		left: 5%;
	}
	#emv{
		position: absolute;
		left: 55%;
	}
	#idwid{
		position: absolute;
		left: 5%;
		bottom: -300px;
	}
	#tjmlv{
		position: absolute;
		left: 55%;
		bottom: -300px;
	}*/
	#do{
		position: relative;
		left: 15%;
		bottom: 0%;
	}
	#emv{
		position: relative;
		left: 15%;
		bottom: 0%;
	}
	#idwid{
		position: relative;
		left: 15%;
		bottom: 0%;
	}
	#tjmlv{
		position: relative;
		left: 15%;
		bottom: 0%;
	}
	.zichtbaarheid{
		width: 80%;
		position: relative;
		left: -15%;
	}
}
/**/
@media only screen and (max-width: 600px){
	body{
		max-width: 600px;
		background-color: green;
	}
	.zichtbaarheid{
		width: 70%;
		position: relative;
		left: -17%;
	}
}
/**/
@media only screen and (max-width: 480px){
	body{
		max-width: 480px;
		background-color: blue;
	}

	nav ul li{
		float: none;
		width: 100%;
	}
}