@media only screen and (max-width: 900px){
	body{
		max-width: 900px;
		background-color: green;
	}
	#verzendingsknopje{
		position: absolute;
		right: 300px;
	}
}
@media only screen and (max-width: 840px){
	body{
		max-width: 840px;
	}
	#verzendingsknopje{
		position: absolute;
		left: 10px;
	}
}
@media only screen and (max-width: 660px){
	body{
		max-width: 660px;
	}
	.titeltje333{
		position: relative;
		left: -200px;
	}
	.titeltje234{
		position: relative;
		left: -200px;
	}
}
@media only screen and (max-width: 480px){
	body{
		max-width: 480px;
	}
	.titeltje333{
		font-size: 40px;
	}
}
@media only screen and (max-width: 480px){
	body{
		max-width: 900px;
	}
}