@media only screen and (max-width: 900px){
	body{
		max-width: 900px;
	}
	h1, h2, h3{
		/*text-align: center;
		*/margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		font-family: "arial", san-serif;
	}
	.button1{
		font-size: 10px;
		padding: 0px;
	}
	.button2{
		font-size: 10px;
		padding: 0px;

	}
@media only screen and (max-width: 680px){
	body{
		max-width: 680px;
	}
	.achtergrond{
		background-repeat: repeat;
		background-size: 40%;
	}
	
	.button1{
		position: relative;
		left: 0px;
	}
	.button2{
		position: relative;
		left: 0px;
	}
}
@media only screen and (max-width: 480px){
	body{
		max-width: 480px;
	}
	.button1{
		position: relative;
		bottom: -100px;
		left: %;
	}
	.button2{
		position: relative;
		bottom: -180px;
		left: -0px;
	}
}
@media only screen and (max-width: 480px){
	body{
		max-width: 900px;
	}
}
@media only screen and (max-width: 380px){
	body{
		max-width: 380px;
	}
